In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
import time
from pandas import DataFrame
import plotly.express as px
import bamboolib as bam

In [5]:
browser = webdriver.Edge('C:/Users/Kristine/Drivers/msedgedriver.exe')
time.sleep(2)
url = 'https://data.world/agriculture/'
browser.get(url)

In [6]:
dataset_button = browser.find_element(By.XPATH, '//*[@id="profile_view.main_tabs-pane-overview"]/div/div/div[1]/div/ul/li[2]/div') 
dataset_button.click()

In [7]:
crop_pr_but = browser.find_element(By.XPATH, '//*[@id="profile_view.main_tabs-pane-resources"]/div/div/div[2]/div[2]/div/div/div[9]/div/div[2]/div[1]/a')
crop_pr_but.click()
# Overview and discription of datasets are available.

In [17]:
crop_ds = browser.find_element(By.XPATH, '//*[@id="dataset_view.main_tabs-pane-details"]/div/div/div[1]/div[4]/div[8]/div/div/div[1]/div/div[1]/a[2]/span')
crop_ds.click()
# In case you are not a registered user then sign-up model will be opened. There is an option to proceed with Google account.

In [21]:
em = 'berzina_e@yahoo.com'
f_name = 'Berz Eliza'
us_n = 'bereliza'
pw = 'GarNeles789!!'

In [22]:
browser.find_element(By.XPATH, '//*[@id="create_user.email"]').send_keys(em)  ##//*[@id="create_user.email"]
browser.find_element(By.XPATH, '//*[@id="create_user.displayName"]').send_keys(f_name)
browser.find_element(By.XPATH, '//*[@id="create_user.agentid"]').send_keys(us_n)
browser.find_element(By.XPATH, '//*[@id="create_user.password1"]').send_keys(pw)

In [23]:
browser.find_element(By.XPATH, '/html/body/div[13]/div[2]/div/div/div/div/div[2]/div/div/div/form/button').click()
# Click on Continue button.

In [26]:
browser.find_element(By.XPATH, '/html/body/div[2]/div[2]/div/div/div/div/div[2]/a').click()
#Click on button Create a Project

In [35]:
browser.find_element(By.XPATH, '//*[@id="root"]/div/div[2]/div[2]/div/div[1]/div[2]/div/div/div[4]/div/div/div/div/div[2]/div[1]/a').click()
#Click on Crop Production dataset

In [36]:
browser.find_element(By.XPATH, '//*[@id="dataset_view.main_tabs-pane-details"]/div/div/div[1]/div[4]/div[8]/div/div/div[1]/div/div[1]/a[2]').click()
#Click on dataset Crop Production in Eastern Europe

In [37]:
browser.find_element(By.XPATH, '//*[@id="file_renderer.modal_common.export_dropdown"]/div/span[2]').click()
#Click on Download drop-down menu.

In [39]:
browser.find_element(By.XPATH, '/html/body/div[2]/div/ul/span[1]/li/a/div[2]/div[1]').click()
#Click on Share URL. Now you get path to down load csv file from web-site.

In [13]:
df = pd.read_csv('https://query.data.world/s/zmbllbphuegmiqcjpgtnrl3xew2jxh')

In [ ]:
# Reading excel file with multiple sheets(193) in Dictionary format

In [2]:
df_dict = pd.read_excel('c:/Users/Kristine/Desktop/apri_ap_crpouta_spreadsheet.xlsx.', sheet_index=None)

c:\Users\Kristine\My_Learning\Tech_Test\venv\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [4]:
# Combining data from all worksheets into DataFrame format
df_all = pd.concat(df_dict.values(), ignore_index=True)

In [5]:
df_all.head(30)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Structure,Data extracted on 08/11/2022 19:54:24 from [ESTAT],Unnamed: 5,Unnamed: 6,Unnamed: 7,...,Data extracted on 08/11/2022 20:00:24 from [ESTAT],Data extracted on 08/11/2022 20:00:26 from [ESTAT],Data extracted on 08/11/2022 20:00:28 from [ESTAT],Data extracted on 08/11/2022 20:00:30 from [ESTAT],Data extracted on 08/11/2022 20:00:32 from [ESTAT],Data extracted on 08/11/2022 20:00:34 from [ESTAT],Data extracted on 08/11/2022 20:00:36 from [ESTAT],Data extracted on 08/11/2022 20:00:38 from [ESTAT],Data extracted on 08/11/2022 20:00:40 from [ESTAT],Data extracted on 08/11/2022 20:00:42 from [ESTAT]
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Selling prices of crop products (absolute pric...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Open product page,Open in Data Browser,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Description:,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Last update of data:,NaN,NaN,01/07/2022 11:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Last change of data structure:,NaN,NaN,01/07/2022 11:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Institutional source(s),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,Eurostat,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,Contents,Time frequency,Currency,Vegetable product,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,Sheet 1,Annual,Euro,Soft wheat - prices per 100 kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,Sheet 2,Annual,Euro,Durum wheat - prices per 100 kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Sheet 3,Annual,Euro,Rye - prices per 100 kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,Sheet 4,Annual,Euro,Barley - prices per 100 kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,Sheet 5,Annual,Euro,Feed barley - prices per 100 kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,Sheet 6,Annual,Euro,Malting barley - prices per 100 kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,Sheet 7,Annual,Euro,Oats - prices per 100 kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,Sheet 8,Annual,Euro,Maize - prices per 100 kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,Sheet 9,Annual,Euro,Rice - prices per 100 kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,Sheet 10,Annual,Euro,Sorghum - prices per 100 kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,Sheet 11,Annual,Euro,Triticale - prices per 100 kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,Sheet 12,Annual,Euro,Rape - prices per 100 kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,Sheet 13,Annual,Euro,Sunflowers - prices per 100 kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,Sheet 14,Annual,Euro,Soya - prices per 100 kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,Sheet 15,Annual,Euro,Dried peas - prices per 100 kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,Sheet 16,Annual,Euro,Dried beans - prices per 100 kg,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN