In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
import time
from pandas import DataFrame
import lxml

In [14]:
# easier task
# 1. open browser with Selenium
# 2. go to https://www.ss.com/en/
# 3. navigate to Real Estate section 
# 4. select some region
# 5. open it in for sale section 

# note of course here we could have gone to the page directly by knowing url
# but not all pages have such a simple url

# you can start here with just url - if you want to skip the above steps
# depends on how much time you have
# fill in price range
# click search
# Harder task - possibly homework
# your task is to convert above text into a pandas dataframe
# using just Selenium to make a list of dictionaries
# where each dictionary is a row in the dataframe
# and each key is a column name
# and each value is a value in the column

# save pandas to csv file- you already know this

In [2]:
browser = webdriver.Edge('C:/Users/Kristine/Drivers/msedgedriver.exe')
time.sleep(2)
browser.get('https://www.ss.com/en/')
assert 'SS' in browser.title

C:\Users\Д\AppData\Local\Temp\ipykernel_10068\4049657640.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Edge('C:/Users/Kristine/Drivers/msedgedriver.exe')

In [3]:
real_est = browser.find_element(By.LINK_TEXT, 'Real estate').click()

In [4]:
houses = browser.find_element(By.LINK_TEXT, 'Houses, cottages').click()

In [5]:
region = browser.find_element(By.PARTIAL_LINK_TEXT, 'Ogre').click()

In [6]:
# get selector by name
# https://selenium-python.readthedocs.io/locating-elements.html#locating-elements-by-name
category_selector = browser.find_element(By.NAME, 'sid')
type(category_selector)

selenium.webdriver.remote.webelement.WebElement

In [7]:
select = Select(category_selector).select_by_visible_text('Sell')

In [8]:
# to identify table rows
rows = browser.find_elements(By.XPATH, '//*[@id="filter_frm"]/table[2]/tbody/tr')
# to identify table columns
cols = browser.find_elements(By.XPATH, '//*[@id="filter_frm"]/table[2]/tbody/tr[3]/td')
# to get row count with len method
row_count = len(rows)
# to get column count with len method
col_count = len(cols)
# to traverse through the table rows excluding headers
for i in range (2, row_count + 1) :
# to traverse through the table column
    for j in range (1, col_count + 1) :
# to get all the cell data with text method
        data = browser.find_element(By.XPATH, '//tr["+str(i)+"]/td["+str(j)+"]').text
print(data)

Houses, cottages / Ogre and reg. / Sell
All advertisements
Today - 2
For 2 days - 12
For 5 days - 18



Price:
-  Area:
-  Floors:
-  Rooms:
-  Land area:
-
Mode:
    List
    Album
    Map
     Deal type:
All
Sell
Buy
Hand over
Will remove
Change
Miscellaneous
City, civil parish:
All
Ikšķile
Ķegums
Lielvārde
Ogre
Birzgales pag.
Ikšķiles l. t.
Jumpravas pag.
Lauberes pag.
Lielvārdes l. t.
Madlienas pag.
Mazozolu pag.
Ogresgala pag.
Suntažu pag.
Other
Street:
 Advertisements
date
City/civil parish m2 Floors Land area Price
Tiek pārdota ziemas māja privātmāju rajonā Ogrē, Lauberes ielā 14. Zemes
Ogre 262 2 626 m² 169,000 €
Ideāls īpašums – dzīvojamā māja ģimenei Lauberē. 4 istabas, 2 stāvi
Lauberes pag.
Laubere 103 2 0.20 ha. 65,000 €
Pārdodu nepabeigtu jaunbūvi ar zemi. Ir nosiltināti pamati, savilktas si
Lielvārde 192 1 1631 m² 39,500 €
Skaista māja (Jaunbūve) gleznainā vietā pie upes. Pirmajā stāvā plaš
Ikšķiles l. t.
Tīnūži 230 2 16700 m² 215,000 €
Pārdod nekustamo īpašumu Jumpravas centrā. Šobrīd ēka tiek izmantota kom
Jumpravas pag.
Jumprava 310 2 1110 m² 115,000 €
Pārdod māju ar plašu skatu uz Daugavas ieleju. Piemājas zeme izvietota 3
Ķegums 221 3 1217 m² 125,000 €
Liels, iekopts ģimenes īpašums Tīnūžos, Ogres novadā, ļoti klusā un aina
Ikšķiles l. t.
Tīnūži 325 3 1.32 ha. 265,000 €
Продаётся двухэтажный дом с хорошей возможностью заниматься коммерческой
Lielvārde 300 2 2500 m² 280,000 €
Pārdodu ķieģeļu māju Ogrē, klusā, skaistā rajonā, parka zona, uz kalna,
Ogre 190 2 1200 m² 120,000 €
Pārdod pusi mājas Ogrē, jaukā privātmāju rajonā. Īpašums sastāv no māj
Ogre 84 2 450 m² 75,000 €
Pārdod māju Ogrē, Peldu ielā 2. Māja atrodas superīgā lokācijā, klusā O
Ogre 223 2 700 m² 175,000 €
Šī īpašuma iegādei ir iespējams saņemt Bankas līdzfinansējumu un atbalst
Ogre 134 2 814 m² 127,000 €
Pārdod māju Ogres pilsētā, ļoti labā atrašanas vietā, mājai nepieciešams
Ogre 55 1 602 m² 47,900 €
Pie Daugavas. Iekonservēta būve ar kapitālu pagrabstāvu, 100 ampēru elek
Ikšķile 158 2 453 m² 63,200 €
Tiek pārdota uzreiz, pilnvērtīgi apdzīvojama māja ar zemi 2270m2 netālu
Suntažu pag.
Glāznieki 49 1 2270 m² 40,000 €
Pārdodu koptu vasarnīcu ar dārzu, pirti, garāžu, siltumnīcu. Kadastra nu
Ogre 79 2 0.64 ha. 60,000 €
Tiek pārdota plaša un kvalitatīva ģimenes māja ar iekoptu dārzu (595m2)
Ogre 329 4 595 m² 169,000 €
Pārdod īpašumu Ogres privātmāju rajonā - dzīvojamo māju (130m2) ar lielu
Ogre 131 2 1770 149,800 €
Dārzs Ogre ar dārza māju / pirti, ērta piekļuve pie īpašuma , pilsēta Og
Ogre 35 1 585 m² 14,000 €
Pārdod zemes gabalu 1290 m2 ar nepabeigtu dzīvojamo ēku. Ēkai uzbūvēts 1
Ogresgala pag.
Ogresgals 97 1 1290 m² 36,000 €
Pārdod divstāvu māju Ikšķilē Lībiešu ielā 31 ar dārzu, kopējā zemes plat
Ikšķile 300 2 1200 m² 260,000 €
Pārdod lielisku ģimenes māju Ikšķilē ar ļoti ērtu un funkcionālu plānoju
Ikšķile 309 2 1280 m² 269,000 €
Pārdod zemes gabalu 0, 5 Ha, 20 Km, no Rīgas robežas, Tīnūžos ( Ikšķiles
Ikšķiles l. t.
Tīnūži 160 2 5000 m² 70,000 €
Pārdošanā jaunbūve ar pelēko apdari. Īpašums atrodas slēgtā privātmāju t
Ogre 160 1 1546 m² 194,000 €
Продается дом 190 m2 , 2 этажа и 4 Га земли, с мебелью, техникой , инстр
Madlienas pag.
Madliena 190 2 4 ha. 90,000 €
Skats uz Daugavu. Reti skaista vieta mieram un labsajūtai. Divām vai v
Lielvārde 178 2 1858 m² 120,000 €
Pārdod māju Ogres pilsētā, ļoti labā atrašanas vietā, mājai nepieciešams
Ogre 55 1 602 m² 48,900 €
Pārdod māju 197.4 kv. m. Zemes gabals 695, 5 kv. m. Līdz stacijai Ikšķil
Ikšķile 197 2 695.50 m² 183,000 €
Īpašnieks pārdod daudzstāvu ēku. Elektrības, ūdens un kanalizācijas piev
Lielvārde 2611 5 2695 m² 200,000 €
Pārdodu kompaktu 2 stāvu, 3 istabu māju. Mājai ir malkas centrālā apkure
Lielvārde 89 2 1094 m² 77,000 €

Previous    1 2 3    Next

Show selected advertisements

In [19]:
df_header = browser.find_elements(By.ID, 'head_line')

In [43]:
df = pd.DataFrame(columns=[t.text for t in df_header])
df.iloc[:, 1:]

Empty DataFrame
Columns: []
Index: []

In [45]:
print(df_header)

[<selenium.webdriver.remote.webelement.WebElement (session="e9d20d51d20929553dbfda7ae5ebb922", element="eb493594-c9a0-4a8c-97e0-54a33ddc02e8")>]

In [13]:
table_trs = browser.find_elements(By.XPATH, '//*[@id="filter_frm"]/table[2]/tbody/tr[i]/td[j]')
value_list = []
for i, j in table_trs[3:]:
    value_list.append({
        j:i.find_elements(By.TAG_NAME, "td")[0].text
    })

df = pd.DataFrame(value_list)

In [14]:
value_list

[]

In [32]:
rows = browser.find_elements(By.XPATH, '//*[@id="filter_frm"]/table[2]/tbody/tr')
print(rows[0])

<selenium.webdriver.remote.webelement.WebElement (session="e9d20d51d20929553dbfda7ae5ebb922", element="eb493594-c9a0-4a8c-97e0-54a33ddc02e8")>

In [30]:
for idx, r in enumerate(rows):
    print('row {}:'.format(idx))
    print('{}'.format(r.text))

row 0:
 Advertisements
date
City/civil parish m2 Floors Land area Price
row 1:
Skaista māja (Jaunbūve) gleznainā vietā pie upes. Pirmajā stāvā plaš
Ikšķiles l. t.
Tīnūži 230 2 16700 m² 215,000 €
row 2:
Pārdod nekustamo īpašumu Jumpravas centrā. Šobrīd ēka tiek izmantota kom
Jumpravas pag.
Jumprava 310 2 1110 m² 115,000 €
row 3:
Pārdod māju ar plašu skatu uz Daugavas ieleju. Piemājas zeme izvietota 3
Ķegums 221 3 1217 m² 125,000 €
row 4:
Liels, iekopts ģimenes īpašums Tīnūžos, Ogres novadā, ļoti klusā un aina
Ikšķiles l. t.
Tīnūži 325 3 1.32 ha. 265,000 €
row 5:
Продаётся двухэтажный дом с хорошей возможностью заниматься коммерческой
Lielvārde 300 2 2500 m² 280,000 €
row 6:
Pārdodu ķieģeļu māju Ogrē, klusā, skaistā rajonā, parka zona, uz kalna,
Ogre 190 2 1200 m² 120,000 €
row 7:
Pārdod pusi mājas Ogrē, jaukā privātmāju rajonā. Īpašums sastāv no māj
Ogre 84 2 450 m² 75,000 €
row 8:
Pārdod māju Ogrē, Peldu ielā 2. Māja atrodas superīgā lokācijā, klusā O
Ogre 223 2 700 m² 175,000 €
row 9:
Šī īpašuma iegādei ir iespējams saņemt Bankas līdzfinansējumu un atbalst
Ogre 134 2 814 m² 127,000 €
row 10:
Pārdod māju Ogres pilsētā, ļoti labā atrašanas vietā, mājai nepieciešams
Ogre 55 1 602 m² 47,900 €
row 11:
Pie Daugavas. Iekonservēta būve ar kapitālu pagrabstāvu, 100 ampēru elek
Ikšķile 158 2 453 m² 63,200 €
row 12:
Tiek pārdota uzreiz, pilnvērtīgi apdzīvojama māja ar zemi 2270m2 netālu
Suntažu pag.
Glāznieki 49 1 2270 m² 40,000 €
row 13:
Pārdodu koptu vasarnīcu ar dārzu, pirti, garāžu, siltumnīcu. Kadastra nu
Ogre 79 2 0.64 ha. 60,000 €
row 14:
Tiek pārdota plaša un kvalitatīva ģimenes māja ar iekoptu dārzu (595m2)
Ogre 329 4 595 m² 169,000 €
row 15:
Pārdod īpašumu Ogres privātmāju rajonā - dzīvojamo māju (130m2) ar lielu
Ogre 131 2 1770 149,800 €
row 16:
Dārzs Ogre ar dārza māju / pirti, ērta piekļuve pie īpašuma , pilsēta Og
Ogre 35 1 585 m² 14,000 €
row 17:
Pārdod zemes gabalu 1290 m2 ar nepabeigtu dzīvojamo ēku. Ēkai uzbūvēts 1
Ogresgala pag.
Ogresgals 97 1 1290 m² 36,000 €
row 18:
Pārdod divstāvu māju Ikšķilē Lībiešu ielā 31 ar dārzu, kopējā zemes plat
Ikšķile 300 2 1200 m² 260,000 €
row 19:
Pārdod lielisku ģimenes māju Ikšķilē ar ļoti ērtu un funkcionālu plānoju
Ikšķile 309 2 1280 m² 269,000 €
row 20:
Pārdod zemes gabalu 0, 5 Ha, 20 Km, no Rīgas robežas, Tīnūžos ( Ikšķiles
Ikšķiles l. t.
Tīnūži 160 2 5000 m² 70,000 €
row 21:
Pārdošanā jaunbūve ar pelēko apdari. Īpašums atrodas slēgtā privātmāju t
Ogre 160 1 1546 m² 194,000 €
row 22:
Продается дом 190 m2 , 2 этажа и 4 Га земли, с мебелью, техникой , инстр
Madlienas pag.
Madliena 190 2 4 ha. 90,000 €
row 23:
Skats uz Daugavu. Reti skaista vieta mieram un labsajūtai. Divām vai v
Lielvārde 178 2 1858 m² 120,000 €
row 24:
Pārdod māju Ogres pilsētā, ļoti labā atrašanas vietā, mājai nepieciešams
Ogre 55 1 602 m² 48,900 €
row 25:
Pārdod māju 197.4 kv. m. Zemes gabals 695, 5 kv. m. Līdz stacijai Ikšķil
Ikšķile 197 2 695.50 m² 183,000 €
row 26:
Īpašnieks pārdod daudzstāvu ēku. Elektrības, ūdens un kanalizācijas piev
Lielvārde 2611 5 2695 m² 200,000 €
row 27:
Pārdodu kompaktu 2 stāvu, 3 istabu māju. Mājai ir malkas centrālā apkure
Lielvārde 89 2 1094 m² 77,000 €
row 28:
Kompakta, ērta, ekspluatācijā nodota 4 guļamistabu privātmāja ar iekoptu
Ikšķile 340 2 1290 m² 327,000 €
row 29:
Pārdodas privātmāja Ķeguma centrā, skaistā vietā pie kalna ar dižozolu.
Ķegums 358 3 1421 m² 159,000 €
row 30:
Saimnieki pārdod kapitāli būvētu jaunbūvi Ikšķilē, Ādamlaukā. Jaunbūve s
Ikšķile 150 1 1725 m² 210,000 €
row 31:

In [38]:
num_rows = len(browser.find_elements(By.XPATH, '//*[@id="filter_frm"]/table[2]/tbody/tr'))
print(num_rows)

32

In [42]:
num_cols = len(browser.find_elements(By.XPATH, '//*[@id="filter_frm"]/table[2]/tbody/tr[2]/td'))
print(num_cols)

8

In [44]:
table = browser.find_elements(By.XPATH, '//*[@id="filter_frm"]/table[2]/tbody')

,0,1,2
0,Ikšķile Ķegums Lielvārde Ogre Birzgales pag.,Ikšķiles l. t. Jumpravas pag. Ķeipenes pag. La...,Madlienas pag. Mazozolu pag. Ogresgala pag. Su...