In [2]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import Select
import time
from pandas import DataFrame
import lxml

In [14]:
# easier task
# 1. open browser with Selenium
# 2. go to https://www.ss.com/en/
# 3. navigate to Real Estate section 
# 4. select some region
# 5. open it in for sale section 

# note of course here we could have gone to the page directly by knowing url
# but not all pages have such a simple url

# you can start here with just url - if you want to skip the above steps
# depends on how much time you have
# fill in price range
# click search
# Harder task - possibly homework
# your task is to convert above text into a pandas dataframe
# using just Selenium to make a list of dictionaries
# where each dictionary is a row in the dataframe
# and each key is a column name
# and each value is a value in the column

# save pandas to csv file- you already know this

In [2]:
browser = webdriver.Edge('C:/Users/Kristine/Drivers/msedgedriver.exe')
time.sleep(2)
browser.get('https://www.ss.com/en/')
assert 'SS' in browser.title

C:\Users\Д\AppData\Local\Temp\ipykernel_13924\4049657640.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  browser = webdriver.Edge('C:/Users/Kristine/Drivers/msedgedriver.exe')

In [3]:
real_est = browser.find_element(By.LINK_TEXT, 'Real estate')

In [4]:
real_est.click()

In [5]:
houses = browser.find_element(By.LINK_TEXT, 'Houses, cottages')

In [6]:
houses.click()

In [7]:
region = browser.find_element(By.PARTIAL_LINK_TEXT, 'Ogre')

In [8]:
region.click()

In [9]:
# get selector by name
# https://selenium-python.readthedocs.io/locating-elements.html#locating-elements-by-name
category_selector = browser.find_element(By.NAME, 'sid')
type(category_selector)

selenium.webdriver.remote.webelement.WebElement

In [10]:
select = Select(category_selector)
type(select)

selenium.webdriver.support.select.Select

In [11]:
select.select_by_visible_text('Sell')

In [12]:
df_header = browser.find_elements(By.CLASS_NAME, 'a18')

In [13]:
df = pd.DataFrame(columns=[t.text for t in df_header])
df.head()

Empty DataFrame
Columns: [City/civil parish, m2, Floors, Land area, Price]
Index: []

In [27]:
rows = browser.find_elements(By.XPATH, '//*[@id="filter_frm"]/table[2]/tbody')

In [39]:
for idx, r in enumerate(rows):
    print('row {}:'.format(idx))
    print('{}'.format(r.text))

row 0:
 Advertisements
date
City/civil parish m2 Floors Land area Price
Pie Daugavas. Iekonservēta būve ar kapitālu pagrabstāvu, 100 ampēru elek
Ikšķile 158 2 453 m² 63,200 €
Tiek pārdota uzreiz, pilnvērtīgi apdzīvojama māja ar zemi 2270m2 netālu
Suntažu pag.
Glāznieki 49 1 2270 m² 40,000 €
Pārdodu koptu vasarnīcu ar dārzu, pirti, garāžu, siltumnīcu. Kadastra nu
Ogre 79 2 0.64 ha. 60,000 €
Tiek pārdota plaša un kvalitatīva ģimenes māja ar iekoptu dārzu (595m2)
Ogre 329 4 595 m² 169,000 €
Pārdod īpašumu Ogres privātmāju rajonā - dzīvojamo māju (130m2) ar lielu
Ogre 131 2 1770 149,800 €
Dārzs Ogre ar dārza māju / pirti, ērta piekļuve pie īpašuma , pilsēta Og
Ogre 35 1 585 m² 14,000 €
Pārdod zemes gabalu 1290 m2 ar nepabeigtu dzīvojamo ēku. Ēkai uzbūvēts 1
Ogresgala pag.
Ogresgals 97 1 1290 m² 36,000 €
Pārdod divstāvu māju Ikšķilē Lībiešu ielā 31 ar dārzu, kopējā zemes plat
Ikšķile 300 2 1200 m² 260,000 €
Pārdod lielisku ģimenes māju Ikšķilē ar ļoti ērtu un funkcionālu plānoju
Ikšķile 309 2 1280 m² 269,000 €
Pārdod zemes gabalu 0, 5 Ha, 20 Km, no Rīgas robežas, Tīnūžos ( Ikšķiles
Ikšķiles l. t.
Tīnūži 160 2 5000 m² 70,000 €
Pārdošanā jaunbūve ar pelēko apdari. Īpašums atrodas slēgtā privātmāju t
Ogre 160 1 1546 m² 194,000 €
Продается дом 190 m2 , 2 этажа и 4 Га земли, с мебелью, техникой , инстр
Madlienas pag.
Madliena 190 2 4 ha. 90,000 €
Skats uz Daugavu. Reti skaista vieta mieram un labsajūtai. Divām vai v
Lielvārde 178 2 1858 m² 120,000 €
Pārdod māju Ogres pilsētā, ļoti labā atrašanas vietā, mājai nepieciešams
Ogre 55 1 602 m² 48,900 €
Pārdod māju 197.4 kv. m. Zemes gabals 695, 5 kv. m. Līdz stacijai Ikšķil
Ikšķile 197 2 695.50 m² 183,000 €
Pārdod māju ar plašu skatu uz Daugavas ieleju. Piemājas zeme izvietota 3
Ķegums 221 3 1217 m² 125,000 €
Īpašnieks pārdod daudzstāvu ēku. Elektrības, ūdens un kanalizācijas piev
Lielvārde 2611 5 2695 m² 200,000 €
Pārdodu kompaktu 2 stāvu, 3 istabu māju. Mājai ir malkas centrālā apkure
Lielvārde 89 2 1094 m² 77,000 €
Kompakta, ērta, ekspluatācijā nodota 4 guļamistabu privātmāja ar iekoptu
Ikšķile 340 2 1290 m² 327,000 €
Pārdodas privātmāja Ķeguma centrā, skaistā vietā pie kalna ar dižozolu.
Ķegums 358 3 1421 m² 159,000 €
Saimnieki pārdod kapitāli būvētu jaunbūvi Ikšķilē, Ādamlaukā. Jaunbūve s
Ikšķile 150 1 1725 m² 210,000 €
Īpašnieks pārdod nekustamo īpašumu (privātmāju) skaistā un klusā vietā O
Ikšķiles l. t.
Tīnūži 272 2 5500 m² 169,000 €
Tiek pārdota divstāvu ģimenes māja 275 m². Mājai ir ērts plānojums. 1.
Lielvārdes l. t.
Kaibala 275 2 6000 m² 240,000 €
Pārdod māju Ogres pilsētā, ļoti labā atrašanas vietā, + pilsētas ūdens
Ogre 55 1 602 m² 49,900 €
Cena saprāta robežās ir runājama. Zeme ir nomā, ir atdalīta un ir piedāv
Ķeipenes pag.
Ķeipene 205 1 12000 m² 25,000 €
Piedāvājam iegādāties plašu un skaistu vasarnīcu ar zemi Ogrē Vasarnī
Ogre 76 2 477 m² 34,000 €
Šī īpašuma iegādei ir iespējams saņemt Bankas līdzfinansējumu un atbalst
Ogre 134 2 814 m² 132,000 €
Tiek pārdots nekustamais īpašums, zemes gabals ar saimniecības ēku - div
Ogresgala pag.
Ogresgals 1580 2 1580 m² 60,000 €
Tiek pārdota ziemas māja privātmāju rajonā Ogrē, Lauberes ielā 14. Zemes
Ogre 262 2 626 m² 174,000 €
Pārdodu privātmāju 244, 4 m2 ar iekoptu dārzu/zaļo zonu, zeme 1209 m2.
Ķegums 244 2 1209 m² 129,000 €

In [38]:
num_rows = len(browser.find_elements(By.XPATH, '//*[@id="filter_frm"]/table[2]/tbody/tr'))
print(num_rows)

32

In [42]:
num_cols = len(browser.find_elements(By.XPATH, '//*[@id="filter_frm"]/table[2]/tbody/tr[2]/td'))
print(num_cols)

8

In [44]:
table = browser.find_elements(By.XPATH, '//*[@id="filter_frm"]/table[2]/tbody')

,0,1,2
0,Ikšķile Ķegums Lielvārde Ogre Birzgales pag.,Ikšķiles l. t. Jumpravas pag. Ķeipenes pag. La...,Madlienas pag. Mazozolu pag. Ogresgala pag. Su...