## **Python and Big Data Analytics Course Project**

## *Crop Production Analysis*

<img src="https://cdn.pixabay.com/photo/2014/12/11/02/55/cereals-563796__340.jpg" width=1200  height=450/>

Kristine Dege

Grazina

##### **The Dataset used in the Course Project is downloaded from the website https://data.world.**
*The full path used to get the dataset:*
* browser = webdriver.Edge('C:/Users/Kristine/Drivers/msedgedriver.exe')
* time.sleep(2)
* url = 'https://data.world/agriculture/crop-production'
* browser.get(url)
* reg_button = browser.find_element(By.XPATH, '//*[@id="dataset_view.main_tabs-pane-details"]/div/div/div[1]/div[4]/div[1]/div/div/div[2]/div[1]/button')
* reg_button.click()
* browser.find_element(By.XPATH, '//*[@id="create_user.email"]').send_keys(em)  ##//*[@id="create_user.email"]
* browser.find_element(By.XPATH, '//*[@id="create_user.displayName"]').send_keys(********)
* browser.find_element(By.XPATH, '//*[@id="create_user.agentid"]').send_keys(********)
* browser.find_element(By.XPATH, '//*[@id="create_user.password1"]').send_keys(**************)
* browser.find_element(By.XPATH, '/html/body/div[13]/div[2]/div/div/div/div/div[2]/div/div/div/form/button').click()
* browser.find_element(By.XPATH, '/html/body/div[2]/div[2]/div/div/div/div/div[2]/a').click()
* browser.find_element(By.XPATH, '//*[@id="root"]/div/div[2]/div[2]/div/div[1]/div[2]/div/div/div[4]/div/div/div/div/div[2]/div[1]').click()

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://query.data.world/s/zmbllbphuegmiqcjpgtnrl3xew2jxh')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1961F,Y1962,...,Y2015,Y2015F,Y2016,Y2016F,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F
0,3,Albania,515,Apples,5312,Area harvested,ha,NaN,M,NaN,...,4008.0,NaN,4230.0,NaN,4346.0,NaN,4294.0,NaN,4407.0,NaN
1,3,Albania,515,Apples,5419,Yield,hg/ha,NaN,NaN,NaN,...,228882.0,Fc,240028.0,Fc,221671.0,Fc,252387.0,Fc,240374.0,Fc
2,3,Albania,515,Apples,5510,Production,tonnes,10004.0,NaN,8039.0,...,91736.0,NaN,101532.0,NaN,96338.0,NaN,108375.0,NaN,105933.0,NaN
3,3,Albania,526,Apricots,5312,Area harvested,ha,NaN,M,NaN,...,331.0,NaN,326.0,NaN,326.0,NaN,337.0,NaN,341.0,NaN
4,3,Albania,526,Apricots,5419,Yield,hg/ha,NaN,NaN,NaN,...,152417.0,Fc,159325.0,Fc,154601.0,Fc,152493.0,Fc,142962.0,Fc

In [3]:
# Deleting all forecast columns as they are empty

for col in df.columns:
    if 'F' in col:
        del df[col]
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,3,Albania,515,Apples,5312,Area harvested,ha,NaN,NaN,NaN,...,3913.0,3450.0,3719.0,3838.0,3863.0,4008.0,4230.0,4346.0,4294.0,4407.0
1,3,Albania,515,Apples,5419,Yield,hg/ha,NaN,NaN,NaN,...,139545.0,185507.0,191718.0,197316.0,212426.0,228882.0,240028.0,221671.0,252387.0,240374.0
2,3,Albania,515,Apples,5510,Production,tonnes,10004.0,8039.0,7931.0,...,54604.0,64000.0,71300.0,75730.0,82060.0,91736.0,101532.0,96338.0,108375.0,105933.0
3,3,Albania,526,Apricots,5312,Area harvested,ha,NaN,NaN,NaN,...,274.0,300.0,301.0,315.0,320.0,331.0,326.0,326.0,337.0,341.0
4,3,Albania,526,Apricots,5419,Yield,hg/ha,NaN,NaN,NaN,...,126679.0,130000.0,147176.0,139683.0,129375.0,152417.0,159325.0,154601.0,152493.0,142962.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10557 entries, 0 to 10556
Data columns (total 66 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     10557 non-null  int64
 1   Area          10557 non-null  object
 2   Item Code     10557 non-null  int64
 3   Item          10557 non-null  object
 4   Element Code  10557 non-null  int64
 5   Element       10557 non-null  object
 6   Unit          10557 non-null  object
 7   Y1961         4173 non-null   float64
 8   Y1962         4172 non-null   float64
 9   Y1963         4159 non-null   float64
 10  Y1964         4155 non-null   float64
 11  Y1965         4160 non-null   float64
 12  Y1966         4157 non-null   float64
 13  Y1967         4155 non-null   float64
 14  Y1968         4141 non-null   float64
 15  Y1969         4151 non-null   float64
 16  Y1970         4155 non-null   float64
 17  Y1971         4153 non-null   float64
 18  Y1972         4153 non-null   float64
 19  Y1973         4145 non-null   float64
 20  Y1974         4150 non-null   float64
 21  Y1975         4159 non-null   float64
 22  Y1976         4155 non-null   float64
 23  Y1977         4184 non-null   float64
 24  Y1978         4186 non-null   float64
 25  Y1979         4179 non-null   float64
 26  Y1980         4168 non-null   float64
 27  Y1981         4172 non-null   float64
 28  Y1982         4174 non-null   float64
 29  Y1983         4181 non-null   float64
 30  Y1984         4183 non-null   float64
 31  Y1985         4599 non-null   float64
 32  Y1986         4610 non-null   float64
 33  Y1987         4619 non-null   float64
 34  Y1988         4643 non-null   float64
 35  Y1989         4664 non-null   float64
 36  Y1990         4906 non-null   float64
 37  Y1991         4949 non-null   float64
 38  Y1992         6535 non-null   float64
 39  Y1993         6721 non-null   float64
 40  Y1994         6728 non-null   float64
 41  Y1995         6766 non-null   float64
 42  Y1996         6772 non-null   float64
 43  Y1997         6796 non-null   float64
 44  Y1998         6864 non-null   float64
 45  Y1999         6911 non-null   float64
 46  Y2000         7052 non-null   float64
 47  Y2001         7100 non-null   float64
 48  Y2002         7125 non-null   float64
 49  Y2003         7274 non-null   float64
 50  Y2004         7344 non-null   float64
 51  Y2005         7366 non-null   float64
 52  Y2006         7531 non-null   float64
 53  Y2007         7551 non-null   float64
 54  Y2008         7572 non-null   float64
 55  Y2009         7586 non-null   float64
 56  Y2010         7603 non-null   float64
 57  Y2011         7604 non-null   float64
 58  Y2012         7600 non-null   float64
 59  Y2013         7592 non-null   float64
 60  Y2014         7587 non-null   float64
 61  Y2015         7616 non-null   float64
 62  Y2016         7620 non-null   float64
 63  Y2017         7626 non-null   float64
 64  Y2018         7963 non-null   float64
 65  Y2019         8006 non-null   float64
dtypes: float64(59), int64(3), object(4)
memory usage: 5.3+ MB

In [7]:
# Chosing rows with Latvian area

df_lv = df.loc[df['Area'] =='Latvia']

In [4]:
#Deleting empty years (Y1961-Y1991) as Latvia was part of PSRS

df_lv.drop(df.iloc[:, 7:38], inplace=True, axis=1)

In [5]:
df_lv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10557 entries, 0 to 10556
Data columns (total 35 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     10557 non-null  int64
 1   Area          10557 non-null  object
 2   Item Code     10557 non-null  int64
 3   Item          10557 non-null  object
 4   Element Code  10557 non-null  int64
 5   Element       10557 non-null  object
 6   Unit          10557 non-null  object
 7   Y1992         6535 non-null   float64
 8   Y1993         6721 non-null   float64
 9   Y1994         6728 non-null   float64
 10  Y1995         6766 non-null   float64
 11  Y1996         6772 non-null   float64
 12  Y1997         6796 non-null   float64
 13  Y1998         6864 non-null   float64
 14  Y1999         6911 non-null   float64
 15  Y2000         7052 non-null   float64
 16  Y2001         7100 non-null   float64
 17  Y2002         7125 non-null   float64
 18  Y2003         7274 non-null   float64
 19  Y2004         7344 non-null   float64
 20  Y2005         7366 non-null   float64
 21  Y2006         7531 non-null   float64
 22  Y2007         7551 non-null   float64
 23  Y2008         7572 non-null   float64
 24  Y2009         7586 non-null   float64
 25  Y2010         7603 non-null   float64
 26  Y2011         7604 non-null   float64
 27  Y2012         7600 non-null   float64
 28  Y2013         7592 non-null   float64
 29  Y2014         7587 non-null   float64
 30  Y2015         7616 non-null   float64
 31  Y2016         7620 non-null   float64
 32  Y2017         7626 non-null   float64
 33  Y2018         7963 non-null   float64
 34  Y2019         8006 non-null   float64
dtypes: float64(28), int64(3), object(4)
memory usage: 2.8+ MB

In [6]:
df_lv.isna().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y1992           4022
Y1993           3836
Y1994           3829
Y1995           3791
Y1996           3785
Y1997           3761
Y1998           3693
Y1999           3646
Y2000           3505
Y2001           3457
Y2002           3432
Y2003           3283
Y2004           3213
Y2005           3191
Y2006           3026
Y2007           3006
Y2008           2985
Y2009           2971
Y2010           2954
Y2011           2953
Y2012           2957
Y2013           2965
Y2014           2970
Y2015           2941
Y2016           2937
Y2017           2931
Y2018           2594
Y2019           2551
dtype: int64

In [ ]:
df['Item'].unique()

In [13]:
df.loc[df['Area'] =='Lithuania']

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y1961,Y1962,Y1963,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
5056,126,Lithuania,221,"Almonds, with shell",5312,Area harvested,ha,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
5057,126,Lithuania,221,"Almonds, with shell",5510,Production,tonnes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
5058,126,Lithuania,711,"Anise, badian, fennel, coriander",5312,Area harvested,ha,NaN,NaN,NaN,...,7400.0,25600.0,5400.0,5600.0,6400.0,5514.0,6548.0,7012.0,NaN,NaN
5059,126,Lithuania,711,"Anise, badian, fennel, coriander",5419,Yield,hg/ha,NaN,NaN,NaN,...,1239.0,859.0,5370.0,5000.0,3906.0,4971.0,11069.0,6409.0,NaN,NaN
5060,126,Lithuania,711,"Anise, badian, fennel, coriander",5510,Production,tonnes,NaN,NaN,NaN,...,917.0,2200.0,2900.0,2800.0,2500.0,2741.0,7248.0,4494.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5309,126,Lithuania,1729,"Treenuts, Total",5312,Area harvested,ha,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
5310,126,Lithuania,1729,"Treenuts, Total",5510,Production,tonnes,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0
5311,126,Lithuania,1735,Vegetables Primary,5312,Area harvested,ha,NaN,NaN,NaN,...,12300.0,12646.0,11160.0,11323.0,10745.0,10472.0,13757.0,12998.0,8640.0,8900.0
5312,126,Lithuania,1735,Vegetables Primary,5419,Yield,hg/ha,NaN,NaN,NaN,...,140904.0,218974.0,234794.0,194635.0,218659.0,181717.0,186829.0,164220.0,192477.0,199831.0
5313,126,Lithuania,1735,Vegetables Primary,5510,Production,tonnes,NaN,NaN,NaN,...,173312.0,276915.0,262030.0,220385.0,234949.0,190294.0,257021.0,213453.0,166300.0,177850.0

In [9]:
df.iloc[:5, :1]

   Area Code
0          3
1          3
2          3
3          3
4          3