In [11]:
import requests
import pandas as pd

In [12]:
url = "https://jsonplaceholder.typicode.com/albums"
response = requests.get(url)
print(response.status_code)

200

In [13]:
df = pd.read_json(url)  
df.head(10)

   userId  id                                     title
0       1   1                     quidem molestiae enim
1       1   2          sunt qui excepturi placeat culpa
2       1   3                        omnis laborum odio
3       1   4  non esse culpa molestiae omnis sed optio
4       1   5                         eaque aut omnis a
5       1   6          natus impedit quibusdam illo est
6       1   7        quibusdam autem aliquid et et quia
7       1   8                        qui fuga est a eum
8       1   9             saepe unde necessitatibus rem
9       1  10                    distinctio laborum qui

In [14]:
response.text[:100]

'[\n  {\n    "userId": 1,\n    "id": 1,\n    "title": "quidem molestiae enim"\n  },\n  {\n    "userId": 1,\n '

In [15]:
df.to_csv("unknown_albums.csv")